/cache/
/config/development/
results/OneRegPerVid_VisReg/*
results/permutation/*
results/permutation_test/*permutation_distribution*
.ipynb_checkpoints/*
__pycache__
fmriprep/*
in_dev_scripts/
in_dev_scripts/*
confonds/*
Logfiles/*