/cache/
/config/development/
results/OneRegPerVid_VisReg/*
results/permutation/*
results/permutation
results/searchlight_lassopcr
results/permutation_test/*permutation_distribution*
results/stim_constant/*
.ipynb_checkpoints/*
__pycache__
confonds/*
logfiles/*
logfiles
confounds
add_visual_reg
add_visual_reg/*